<mat-selection-list #shoes [multiple]="false">
    <mat-list-option routerLinkActive="selected" routerLink="dashboard">
        Dashboard
    </mat-list-option>
    <mat-list-option routerLinkActive="selected" routerLink="loans">
        Loans
    </mat-list-option>
    <mat-list-option routerLinkActive="selected" routerLink="customers">
        Customers
    </mat-list-option>
    <mat-list-option routerLinkActive="selected" routerLink="payments">
        Payment
    </mat-list-option>
</mat-selection-list>