<section>
    <div class="customer-heading">
        <h2>Customers</h2>
        <button mat-stroked-button color="primary" (click)="openAddDialog()">Add</button>
    </div>

    <div class="customer-table" *ngIf="customerList">
        <lms-table
        [displayedColumns]= "displayColumn" 
        [tableDataSource]= "customerList"
        [enableDelete]= "true"
        (dataToDelete)= "deleteCustomer($event)"
        [enableEdit]= "true"
        (dataToEdit)= "openEditCustomer($event)">
        </lms-table>
    </div>
</section>