<table *ngIf="tableDataSource" mat-table [dataSource]="tableDataSource" class="mat-elevation-z8">

    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <ng-container *ngIf="column == 'SN' ">
            <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
        </ng-container>
        <ng-container *ngIf="column == 'actions' ">
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" aria-label="delete button" *ngIf="enableEdit"
                (click)="emitEditEvent(element)">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button color="warn" aria-label="delete button" *ngIf="enableDelete"
                (click)="emitDeleteEvent(element)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </td>
        </ng-container>
        <td mat-cell *matCellDef="let element">
            {{element[column]}}
        </td>
        
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>