mat-toolbar {
    height: 10vh;
    box-sizing: border-box;
}

mat-sidenav {
    /* margin: 16px; */
    width: 15%;
    /* border-right: none; */
    /* background: #002b5c; */
    /* color: white; */
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

mat-sidenav-container {
    height: 90vh;
    box-sizing: border-box;
    overflow: auto;
}

mat-sidenav-content {
    width: 85%;;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    padding: var(--padding);
}