<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
	LMS
</mat-toolbar>

<mat-sidenav-container>
	<mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <lms-sidenav></lms-sidenav>
	</mat-sidenav>

	<mat-sidenav-content>
        <router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>