<section>
    <div class="loans-heading">
        <h2>Loans</h2>
        <button mat-stroked-button color="primary" (click)="openAddDialog()">Add</button>
    </div>

    <div class="loans-table" *ngIf="loansList && loansList.length> 0">
        <lms-table [displayedColumns]="displayColumn" [tableDataSource]="loansList">
        </lms-table>
    </div>

    <div class="empty-loan" *ngIf="!loansList || loansList.length === 0">
        <p class="empty-text" color="warn">Loan Is Empty</p>
    </div>
</section>